/* .container-fluid,
.row {
    margin: 0 !important;
}

.g-0 {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

video {
    display: block;
    
    object-fit: cover;
}
.full-screen1 {
    height: 170vh !important;
} */

.container-fluid,
.row {
    margin: 0 !important;
}

.g-0 {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

/* Desktop */

.video-column-2 {
    height: 93vh;
}

.video-element-2 {
    width: 102% !important;
    height: 68% !important;
    object-fit: cover;
    display: block;
}
