header .navbar-brand img {
    max-height: 99px !important;
}

.navbar .navbar-nav .nav-link {
    font-weight: 500 !important;
    font-size: 18px !important;
}

.text-sliding-line {
    background-image: linear-gradient(135deg, transparent 45%, #000000 45%, #3c3737 55%, transparent 0) !important;
}
.ifofficalcolour{
    color: #fea76f;
}
.process-image {
    width: 150px; /* Adjust as per requirement */
    height: auto;
}

.right-minus-100px {
    right: -5px;
}

.justify{
    text-align: justify;
}
@media (max-width: 575px) {
    .fs-325 {
        font-size: 10rem  !important;
        line-height: 9rem !important;
    }
}


@media (max-width: 1399px) {
    .xl-fs-250 {
        font-size: 9.625rem;
        line-height: 15.625rem;
    }
}
/* Hide the section on mobile screens */
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}















.navbar .navbar-nav .dropdown .dropdown-menu {
    margin: 0;
    padding: 60px 0 65px;
    border: 0;
    top: 65%;
    background-color: var(--white);
    box-shadow: 0 45px 45px 0 rgba(0, 0, 0, 0.05);
    -webkit-animation: hide-animation 0.5s;
    animation: hide-animation 0.5s;
    -webkit-border-radius: 0;
    border-radius: 0;
}