/* ===================================
    Crafto - Minimal portfolio
====================================== */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* variable */
:root {
    --base-color: #ffda01;
    --light-medium-gray: #d7d7d7;
    --very-light-gray: #ededed;
    --light-gray: #ebebeb;
    --alt-font: 'Inter', sans-serif;
    --primary-font: 'Inter', sans-serif;
}
/* custom cursor */
@media (hover: hover) and (pointer: fine) {
    .custom-cursor .circle-cursor-outer {
        border: 1px solid transparent;
    }

    .custom-cursor .circle-cursor-inner {
        width: 10px;
        height: 10px;
        background: var(--dark-gray);
    }

    .custom-cursor .circle-cursor-inner.cursor-link-hover {
        width: 10px;
        height: 10px;
        opacity: .5;
        margin-left: -5px;
        margin-top: -5px;
    }
}
/* reset */
body {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-gray);
}
a, .social-icon-style-10 ul li a:hover {
    color: var(--dark-gray) !important;
}
.google-maps-link a {
    color: var(--white) !important;
}
/* header */
.navbar-toggler-line {
    height: 1px;
}
.left-modern-menu .left-modern-header .navbar-brand img {
    max-height: 55px;
}
.menu-item-list .nav-link {
    font-size: 46px;
    line-height: 40px;
}
.left-modern-menu {
    background-color: var(--body-bgcolor);
}
header.sticky .header-light:not(.disable-fixed) {
    box-shadow: none;
}
/* word break normal */
.word-break-normal {
    word-break: normal; 
}
h2 {
    font-size: 3.438rem;
    line-height: 4rem; 
}
/* swiper slider */ 
.banner-slider .swiper-slide .position-absolute {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1.5s;
    opacity: 0;
}
.banner-slider .swiper-slide.swiper-slide-active .position-absolute {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
}
.social-icon-style-06 ul li a {
    padding: 0 30px;
}
@media (max-width: 1399px){
    .social-icon-style-06 ul li a {
        padding: 0 15px;
    }
}
@media (max-width: 991px){
    .left-modern-menu .left-modern-header .navbar-brand img {
        max-height: 24px;
    }
    .position-md-relative {
        position: relative !important;
    }
    .md-mt-100px {
        margin-top: 100px;
    }
    .menu-item-list .nav-link {
        font-size: 30px;
        line-height: 30px;
    } 
}
@media (max-width: 767px){
    .elements-social ul li {
        margin-bottom: 0;
    }
}
@media (max-width: 575px){
    .social-icon-style-06 ul li a {
        padding: 0 10px;
    }
    .social-icon-style-06 ul li {
        margin-left: 0;
        margin-right: 0;
    }
    .swiper-light-pagination .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }
}