/* ===================================
    Crafto - Vertical portfolio
====================================== */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
/* variable */
:root {     
    --base-color:#1C2C24;
    --alt-font: 'Bebas Neue', cursive;
    --primary-font: 'Albert Sans', sans-serif;
    --medium-gray: #7c8983;
    --dark-gray: #172c23;
} 
/* reset */
body{
    background: var(--dark-gray);
    font-size: 20px;
    line-height: 34px;
}
/* header */
header .navbar-brand img {
    max-height:46px;
}
.header-icon .header-social-icon a {
    padding-left: 25px;
}
.hamburger-menu-simple .menu-item-list .nav-link {
    font-size: 80px;
    line-height: 60px;
}
header .elements-social ul li a {
    width: auto;
    height: auto;
}
header .elements-social ul li {
    margin-right: 20px;
    margin-left: 0;
}
h3 {
    font-size: 2.813rem;
    line-height: 2.813rem;
}
.text-olive-green{
    color: #15221C;
}
.text-light-green{
    color: #445a52;
}
.bg-light-green{
    background: #445a52;
}
.bg-olive-green{
    background: #15221C;
}
.lh-165{
    line-height: 165px;
}
.bg-gradient-dark-transparent {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(7%, #172c23), to(transparent));
    background: linear-gradient(to top, #172c23 7%, transparent 100%);
}
.right-minus-200px {
    right: -200px;
}
.mb-50 {
    margin-bottom: 50%;
}
/* slider */
.demo-vertical-portfolio .swiper .swiper-slide {
    transform: scale(0.8);
    transition: all 0.6s ease-in-out;
}
.demo-vertical-portfolio .swiper .swiper-slide.swiper-slide-active {
    transform: scale(1);
    transition: all 0.6s ease-in-out;
    transition-delay: 0.4s;
}
.slider-big-title {
    font-size: 70rem;
    line-height: 68rem;
}
/* float animation */
.animation-float {
    animation: float 1500ms linear 500ms infinite alternate both;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(50px);
    }
}
/* scrolling text */
.marquees-text {
    /* Starting position */ 
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* Apply animation to this element */ 
    -webkit-animation: example1 20s linear infinite;
    animation: example1 20s linear infinite;
    width: 100%;
}
.team-style-08 figure figcaption .social-icon a {
    background-color: var(--white);
}
/* magic cursor */
.magic-drag-cursor #ball-cursor {
    width: 180px;
    height: 180px;
}
.magic-drag-cursor #ball-cursor:before {
    content: "DRAG";
    font-family: var(--primary-font) !important;
}
/* btn */
.btn {
    font-family: var(--primary-font);
}
/* bg gradient color */
.bg-gradient-very-light-gray-transparent {
    background: -webkit-linear-gradient(right, rgba(240, 244, 253, 1.0), rgba(255, 255, 255, 0.0));
    background: linear-gradient(to right, rgba(240, 244, 253, 1.0), rgba(255, 255, 255, 0.0));
}
.bg-gradient-light-gray-transparent {
    background: -webkit-linear-gradient(right, rgba(240, 244, 253, 0.3), rgba(255, 255, 255, 0.0));
    background: linear-gradient(to right, rgba(240, 244, 253, 0.3), rgba(255, 255, 255, 0.0));
}
/* feature box */
.feature-box:hover .feature-box-icon .text-outline {
    -webkit-text-fill-color: var(--base-color);
    opacity: 1;
}
/* footer */
footer {
    font-size: 17px;
}
footer .footer-logo img {
    max-height: 46px;
}
footer a:hover {
    color: var(--white);
}
footer ul li {
    margin-bottom: 0px;
    line-height: 28px;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1350px;
    }
}
@media (max-width: 1600px){
    .slider-big-title {
        font-size: 65rem;
        line-height: 63rem;
    }
}
@media (max-width: 1399px){
    .slider-big-title {
        font-size: 55rem;
        line-height: 60rem;
    }
}
@media (max-width: 1199px){
    .slider-big-title {
        font-size: 45rem;
        line-height: 59.5rem;
    }
    .lh-165{
        line-height: 140px;
    }
}
@media (max-width: 991px){
    .slider-big-title {
        font-size: 35rem;
        line-height: 33rem;
    }
    .swiper-vertical .marquees-text {
        top: 28% !important;
    }
    .header-transparent[data-header-hover=dark] {
        background-color: transparent !important;
    }
    .hamburger-menu-simple .menu-item-list .nav-link {
        font-size: 60px;
        line-height: 50px;
    }
}
@media (max-width: 767px){
    .swiper-vertical > .swiper-pagination-bullets-right {
        width: 100%;
        right: 0;
        top: 92%;
        text-align: center;
    }
    .swiper-vertical > .swiper-pagination-bullets-right .swiper-pagination-bullet {
        margin: 0 20px !important;
        display: inline-block;
    }
    .hamburger-menu-simple .menu-item-list .nav-link {
        font-size: 50px;
        line-height: 40px;
    }
}
@media (max-width: 575px){
    .slider-big-title {
        font-size: 6rem;
        line-height: 10rem;
    }
}